.about-section-content {
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-item-title-and-links {
    display: flex;
    justify-content: space-between;
}

.portfolio-item-title-and-links a {
    color: white;
}


.contact-info {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    min-width: 40ch;
}


#profile-pic {
    border-radius: 50%;
}

.skill-icons {
    max-width: 90%;
}


.link-icons {
    border-radius: 20px;
    display: flex;
    /* width: 200px; */
}


.link-icons img {
    height: 70px;
    /* margin: 10px; */
    padding: 10px;
}

.link-icons img:hover {
    background-color: #e2e2e2;
    border-radius: 20px;
}

#angel-list {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 5px;
}

#link-icons {
    display: flex;
    justify-content: space-between;
}

#blank {
    width: 4ch;
}

#resume {
    font-size: 20px;
}


body::-webkit-scrollbar {
    display: none;
}
  
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.skill-icons {
    max-width: 90% !important;
}


